accrul/server/reports/schemas/PostingCtrlDetailRep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?report  module="ACCRUL" package="POSTING_CTRL_DETAIL_REP" ?>
<xs:schema
   targetNamespace="urn:ifsworld-com:posting_ctrl_detail_rep"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns="urn:ifsworld-com:posting_ctrl_detail_rep"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
   <xs:element name="POSTING_CTRL_DETAIL_REP_REQUEST">
      <xs:complexType>
         <xs:all minOccurs="1" maxOccurs="1">
            <xs:element name="PROCESSING_INFO">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="FORMATTING_OPTIONS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="COPIES" type="xs:int" nillable="true"/>
                              <xs:element name="PAGE_FROM" type="xs:int" nillable="true"/>
                              <xs:element name="PAGE_TO" type="xs:int" nillable="true"/>
                              <xs:element name="LANG_CODE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="5"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LAYOUT_NAME" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PRINT_DIRECTORY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LAYOUT_FILE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="SELECTED_PRINTER" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="LANGUAGE_LAYOUT_FILE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PAPER_FORMAT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PROCESSING_ATTRIBUTES">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="EXECUTION_TIME" type="xs:dateTime"/>
                              <xs:element name="ORDERED_BY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="JOB_ID" type="xs:int" nillable="true"/>
                              <xs:element name="COMMENT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="ORDER_TIME" type="xs:dateTime"/>
                              <xs:element name="REPORT_TITLE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="PRINTED_BY" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="CREATED" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="STANDARD_TRANSLATIONS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="ATTRIBUTE_DISPLAY_TEXTS">
                                 <xs:complexType>
                                    <xs:all minOccurs="1" maxOccurs="1">
                                       <xs:element name="EXECUTION_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="ORDERED_BY" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="JOB_ID" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="COMMENT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="ORDER_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="REPORT_TITLE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="PRINTED_BY" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CURRENT_TIME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CURRENT_DATE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="PAGE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="END_OF_REPORT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="REPORT_PARAMETERS" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="APPLICATION_TEXT" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="CREATED" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NONE" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NOTES" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="NO_DATA_FOUND" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="SITE_TEXTS">
                                 <xs:complexType>
                                    <xs:all minOccurs="1" maxOccurs="1">
                                       <xs:element name="COMPANY_NAME" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_1" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_2" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_3" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_4" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_5" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_6" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_7" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_8" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_9" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="SITE_TEXT_10" nillable="true">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="200"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:all>
                                 </xs:complexType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="POSTING_CTRL_DETAIL_REP_DATA_ASSEMBLY_PARAMETERS">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="COMPANY">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="MODULE">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="MODULE_TO">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="POSTING_TYPE">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="POSTING_TYPE_TO">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="DISPLAY_TEXT" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="POSTING_CTRL_DETAIL_REP_ARCHIVE_VARIABLES">
               <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                     <xs:element name="VARIABLE">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                              <xs:element name="NAME" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALUE" nillable="true">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="POSTING_CTRL_DETAIL_REP_TRANSLATIONS">
               <xs:complexType>
                  <xs:all minOccurs="1" maxOccurs="1">
                     <xs:element name="REPORT_TEXTS">
                        <xs:complexType>
                           <xs:all minOccurs="1" maxOccurs="1">
                           </xs:all>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ATTRIBUTE_DISPLAY_TEXTS">
                        <xs:complexType>
                           <xs:choice minOccurs="0" maxOccurs="9">
                              <xs:element name="SPEC_ORDER" nillable="true" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="BREAK_KEY_DETAIL" nillable="true" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="BREAK_KEY" nillable="true" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="VALID_UNTIL" nillable="true" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="POSTING_TYPE_TO" nillable="true" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="MODULE_TO" nillable="true" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="COMPANY" nillable="true" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="DESCRIPTION" nillable="true" minOccurs="0">
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="200"/>
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="MODULES" nillable="true" minOccurs="0">
                                 <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="1">
                                       <xs:element name="MODULE">
                                          <xs:complexType>
                                             <xs:choice minOccurs="0" maxOccurs="2">
                                                <xs:element name="MODULE" nillable="true" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                         <xs:maxLength value="200"/>
                                                      </xs:restriction>
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="POSTING_CONTROLS" nillable="true" minOccurs="0">
                                                   <xs:complexType>
                                                      <xs:choice minOccurs="0" maxOccurs="1">
                                                         <xs:element name="POSTING_CONTROL">
                                                            <xs:complexType>
                                                               <xs:choice minOccurs="0" maxOccurs="13">
                                                                  <xs:element name="VALID_FROM" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="DEFAULT_NO_VALUE_DESC" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="DEFAULT_NO_VALUE" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="CODE_PART_DESC" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="DEFAULT_VAL_DESC" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="POSTING_TYPE_DESC" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="CONTROL_NAME" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="OVERRIDE" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="DEFAULT_VALUE" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="CONTROL_TYPE" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="CODE_PART" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="POSTING_TYPE" nillable="true" minOccurs="0">
                                                                     <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                           <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                     </xs:simpleType>
                                                                  </xs:element>
                                                                  <xs:element name="POSTING_CONTROL_DETAILS" nillable="true" minOccurs="0">
                                                                     <xs:complexType>
                                                                        <xs:choice minOccurs="0" maxOccurs="1">
                                                                           <xs:element name="POSTING_CONTROL_DETAIL">
                                                                              <xs:complexType>
                                                                                 <xs:choice minOccurs="0" maxOccurs="10">
                                                                                    <xs:element name="CONTROL_TYPE_VALUE_DESC" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="CODE_PART_VALUE_DESC" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="CONTROL_TYPE_VALUE" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="CODE_PART_VALUE" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="SPEC_CONTROL_TYPE" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="VALID_FROM_DETAIL" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="SPEC_CONTROL_TYPE_DESC" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="CONTROL_TYPE_VALUE2" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="CONTROL_TYPE_VALUE_DESC2" nillable="true" minOccurs="0">
                                                                                       <xs:simpleType>
                                                                                          <xs:restriction base="xs:string">
                                                                                             <xs:maxLength value="200"/>
                                                                                          </xs:restriction>
                                                                                       </xs:simpleType>
                                                                                    </xs:element>
                                                                                    <xs:element name="POSTING_CONTROL_DETAIL_SPECS" nillable="true" minOccurs="0">
                                                                                       <xs:complexType>
                                                                                          <xs:choice minOccurs="0" maxOccurs="1">
                                                                                             <xs:element name="POSTING_CONTROL_DETAIL_SPEC">
                                                                                                <xs:complexType>
                                                                                                   <xs:choice minOccurs="0" maxOccurs="6">
                                                                                                      <xs:element name="SPEC_CODE_PART_VALUE" nillable="true" minOccurs="0">
                                                                                                         <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                               <xs:maxLength value="200"/>
                                                                                                            </xs:restriction>
                                                                                                         </xs:simpleType>
                                                                                                      </xs:element>
                                                                                                      <xs:element name="SPEC_CODE_PART_VALUE_DESC" nillable="true" minOccurs="0">
                                                                                                         <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                               <xs:maxLength value="200"/>
                                                                                                            </xs:restriction>
                                                                                                         </xs:simpleType>
                                                                                                      </xs:element>
                                                                                                      <xs:element name="SPEC_CONTROL_TYPE_VALUE" nillable="true" minOccurs="0">
                                                                                                         <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                               <xs:maxLength value="200"/>
                                                                                                            </xs:restriction>
                                                                                                         </xs:simpleType>
                                                                                                      </xs:element>
                                                                                                      <xs:element name="SPEC_CONTROL_TYPE_VALUE_DESC" nillable="true" minOccurs="0">
                                                                                                         <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                               <xs:maxLength value="200"/>
                                                                                                            </xs:restriction>
                                                                                                         </xs:simpleType>
                                                                                                      </xs:element>
                                                                                                      <xs:element name="SPEC_CONTROL_TYPE_VALUE2" nillable="true" minOccurs="0">
                                                                                                         <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                               <xs:maxLength value="200"/>
                                                                                                            </xs:restriction>
                                                                                                         </xs:simpleType>
                                                                                                      </xs:element>
                                                                                                      <xs:element name="SPEC_CONTROL_TYPE_VALUE_DESC2" nillable="true" minOccurs="0">
                                                                                                         <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                               <xs:maxLength value="200"/>
                                                                                                            </xs:restriction>
                                                                                                         </xs:simpleType>
                                                                                                      </xs:element>
                                                                                                   </xs:choice>
                                                                                                </xs:complexType>
                                                                                             </xs:element>
                                                                                          </xs:choice>
                                                                                       </xs:complexType>
                                                                                    </xs:element>
                                                                                 </xs:choice>
                                                                              </xs:complexType>
                                                                           </xs:element>
                                                                        </xs:choice>
                                                                     </xs:complexType>
                                                                  </xs:element>
                                                               </xs:choice>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:choice>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:choice>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:choice>
                        </xs:complexType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
            <xs:element name="POSTING_CTRL_DETAIL_REP">
               <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="9">
                     <xs:element name="SPEC_ORDER" nillable="true" minOccurs="0">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="111"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="BREAK_KEY_DETAIL" nillable="true" minOccurs="0">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="109"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="BREAK_KEY" nillable="true" minOccurs="0">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="21"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="VALID_UNTIL" type="xs:dateTime" nillable="true" minOccurs="0"/>
                     <xs:element name="POSTING_TYPE_TO" nillable="true" minOccurs="0">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="MODULE_TO" nillable="true" minOccurs="0">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="20"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="COMPANY" nillable="true" minOccurs="0">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="20"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="DESCRIPTION" nillable="true" minOccurs="0">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="100"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="MODULES" nillable="true" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence minOccurs="0" maxOccurs="unbounded">
                              <xs:element name="MODULE">
                                 <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="2">
                                       <xs:element name="MODULE" nillable="true" minOccurs="0">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element name="POSTING_CONTROLS" nillable="true" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                <xs:element name="POSTING_CONTROL">
                                                   <xs:complexType>
                                                      <xs:choice minOccurs="0" maxOccurs="13">
                                                         <xs:element name="VALID_FROM" type="xs:dateTime" nillable="true" minOccurs="0"/>
                                                         <xs:element name="DEFAULT_NO_VALUE_DESC" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="300"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="DEFAULT_NO_VALUE" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="30"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="CODE_PART_DESC" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="100"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="DEFAULT_VAL_DESC" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="100"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="POSTING_TYPE_DESC" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="100"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="CONTROL_NAME" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="200"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="OVERRIDE" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="1"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="DEFAULT_VALUE" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="CONTROL_TYPE" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="CODE_PART" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="1"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="POSTING_TYPE" nillable="true" minOccurs="0">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10"/>
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element name="POSTING_CONTROL_DETAILS" nillable="true" minOccurs="0">
                                                            <xs:complexType>
                                                               <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                  <xs:element name="POSTING_CONTROL_DETAIL">
                                                                     <xs:complexType>
                                                                        <xs:choice minOccurs="0" maxOccurs="10">
                                                                           <xs:element name="CONTROL_TYPE_VALUE_DESC" nillable="true" minOccurs="0">
                                                                              <xs:simpleType>
                                                                                 <xs:restriction base="xs:string">
                                                                                    <xs:maxLength value="4000"/>
                                                                                 </xs:restriction>
                                                                              </xs:simpleType>
                                                                           </xs:element>
                                                                           <xs:element name="CODE_PART_VALUE_DESC" nillable="true" minOccurs="0">
                                                                              <xs:simpleType>
                                                                                 <xs:restriction base="xs:string">
                                                                                    <xs:maxLength value="100"/>
                                                                                 </xs:restriction>
                                                                              </xs:simpleType>
                                                                           </xs:element>
                                                                           <xs:element name="CONTROL_TYPE_VALUE" nillable="true" minOccurs="0">
                                                                              <xs:simpleType>
                                                                                 <xs:restriction base="xs:string">
                                                                                    <xs:maxLength value="100"/>
                                                                                 </xs:restriction>
                                                                              </xs:simpleType>
                                                                           </xs:element>
                                                                           <xs:element name="CODE_PART_VALUE" nillable="true" minOccurs="0">
                                                                              <xs:simpleType>
                                                                                 <xs:restriction base="xs:string">
                                                                                    <xs:maxLength value="10"/>
                                                                                 </xs:restriction>
                                                                              </xs:simpleType>
                                                                           </xs:element>
                                                                           <xs:element name="SPEC_CONTROL_TYPE" nillable="true" minOccurs="0">
                                                                              <xs:simpleType>
                                                                                 <xs:restriction base="xs:string">
                                                                                    <xs:maxLength value="10"/>
                                                                                 </xs:restriction>
                                                                              </xs:simpleType>
                                                                           </xs:element>
                                                                           <xs:element name="VALID_FROM_DETAIL" type="xs:dateTime" nillable="true" minOccurs="0"/>
                                                                           <xs:element name="SPEC_CONTROL_TYPE_DESC" nillable="true" minOccurs="0">
                                                                              <xs:simpleType>
                                                                                 <xs:restriction base="xs:string">
                                                                                    <xs:maxLength value="200"/>
                                                                                 </xs:restriction>
                                                                              </xs:simpleType>
                                                                           </xs:element>
                                                                           <xs:element name="CONTROL_TYPE_VALUE2" nillable="true" minOccurs="0">
                                                                              <xs:simpleType>
                                                                                 <xs:restriction base="xs:string">
                                                                                    <xs:maxLength value="100"/>
                                                                                 </xs:restriction>
                                                                              </xs:simpleType>
                                                                           </xs:element>
                                                                           <xs:element name="CONTROL_TYPE_VALUE_DESC2" nillable="true" minOccurs="0">
                                                                              <xs:simpleType>
                                                                                 <xs:restriction base="xs:string">
                                                                                    <xs:maxLength value="4000"/>
                                                                                 </xs:restriction>
                                                                              </xs:simpleType>
                                                                           </xs:element>
                                                                           <xs:element name="POSTING_CONTROL_DETAIL_SPECS" nillable="true" minOccurs="0">
                                                                              <xs:complexType>
                                                                                 <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                                                    <xs:element name="POSTING_CONTROL_DETAIL_SPEC">
                                                                                       <xs:complexType>
                                                                                          <xs:choice minOccurs="0" maxOccurs="6">
                                                                                             <xs:element name="SPEC_CODE_PART_VALUE" nillable="true" minOccurs="0">
                                                                                                <xs:simpleType>
                                                                                                   <xs:restriction base="xs:string">
                                                                                                      <xs:maxLength value="10"/>
                                                                                                   </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                             </xs:element>
                                                                                             <xs:element name="SPEC_CODE_PART_VALUE_DESC" nillable="true" minOccurs="0">
                                                                                                <xs:simpleType>
                                                                                                   <xs:restriction base="xs:string">
                                                                                                      <xs:maxLength value="100"/>
                                                                                                   </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                             </xs:element>
                                                                                             <xs:element name="SPEC_CONTROL_TYPE_VALUE" nillable="true" minOccurs="0">
                                                                                                <xs:simpleType>
                                                                                                   <xs:restriction base="xs:string">
                                                                                                      <xs:maxLength value="100"/>
                                                                                                   </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                             </xs:element>
                                                                                             <xs:element name="SPEC_CONTROL_TYPE_VALUE_DESC" nillable="true" minOccurs="0">
                                                                                                <xs:simpleType>
                                                                                                   <xs:restriction base="xs:string">
                                                                                                      <xs:maxLength value="4000"/>
                                                                                                   </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                             </xs:element>
                                                                                             <xs:element name="SPEC_CONTROL_TYPE_VALUE2" nillable="true" minOccurs="0">
                                                                                                <xs:simpleType>
                                                                                                   <xs:restriction base="xs:string">
                                                                                                      <xs:maxLength value="100"/>
                                                                                                   </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                             </xs:element>
                                                                                             <xs:element name="SPEC_CONTROL_TYPE_VALUE_DESC2" nillable="true" minOccurs="0">
                                                                                                <xs:simpleType>
                                                                                                   <xs:restriction base="xs:string">
                                                                                                      <xs:maxLength value="4000"/>
                                                                                                   </xs:restriction>
                                                                                                </xs:simpleType>
                                                                                             </xs:element>
                                                                                          </xs:choice>
                                                                                       </xs:complexType>
                                                                                    </xs:element>
                                                                                 </xs:sequence>
                                                                              </xs:complexType>
                                                                           </xs:element>
                                                                        </xs:choice>
                                                                     </xs:complexType>
                                                                  </xs:element>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:choice>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:choice>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:choice>
               </xs:complexType>
            </xs:element>
         </xs:all>
      </xs:complexType>
   </xs:element>
</xs:schema>